{% extends "proyectos/base-proyecto.html" %}

{% block title %}{{ idioma.Crear_Proyecto }}{% endblock %}

{% block customCSS %}   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-project.css') }}">
{% endblock %}

{% block editProyecto %}
    <div id="form-project" class="container">
        <h1>{{ idioma.Creacion_Proyecto }}</h1>
        <hr>
        <form action="/registrar" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="formulario">
                <div class="form-column-1">
                    <input type="file" name="Imagen" id="Imagen" hidden accept="image/*" onchange="return validarExtImagen(this)">
                    <label for="Imagen" class="cursor-pointer" title="Haz clic para cambiar la imagen">
                        <div class="cont-img">
                            <button type="button" class="btn-trash" onclick="trashImage()"><i class='bx bxs-trash'></i></button>
                            <img class="img-fluid" src="{{ url_for('static', filename='images/default/upload_img1.png') }}" id="img" alt="avatar">
                        </div>
                        <div class="cont-opt">
                            <h5 id="text-subir-img">{{ idioma.Subir_Imagen }}</h5>
                        </div>
                    </label>
                </div>
                <div class="form-column-2">
                    <div class="label-input-container">
                        <label for="NombreProyecto">{{ idioma.Titulo }}</label>
                        <input class="box" type="text" name="NombreProyecto" autocomplete="off" required placeholder="Título de la publicación">
                    </div>
                    <div class="label-input-container">
                        <label for="DescripcionProyecto">{{ idioma.Descripción }}</label>
                        <textarea class="box" name="DescripcionProyecto" id="DescripcionProyecto" cols="30" rows="2" required placeholder="Contenido de la publicación"></textarea>
                    </div>
                    
                    <input hidden class="box" value="{{ fecha_actual }}" type="date" name="Fecha" autocomplete="off" readonly>
                    <input hidden class="box" type="text" name="NombreUsuario" value="{{ usuario_actual }}" readonly>

                </div>
            </div>
            <h5>{{ idioma.Archivos }}</h5>
            <div class="container-upload">
                <input type="file" class="" id="file" hidden name="Archivo" onchange="return validarExt()" required multiple>
                <label for="file" class="uploadlabel">
                    <span>
                        <img src="{{ url_for('static', filename='images/default/addthis_3.png') }}" alt="">
                    </span>
                    <p>{{ idioma.Agregar }}</p>
                </label>
                <br>
                <div id="filewrapper">
                    <h5 class="uploaded">{{ idioma.Documentos_Cargados }}</h5>
                </div>
            </div>
            <hr>
            <div class="btn-container">
                <button type="submit" class="cont-btn">{{ idioma.Aceptar }}</button>
                <a href="{{ url_for('mis_Proyectos') }}" class="cont-btn" onclick="return confirm('¿Estás seguro de cancelar?')">{{ idioma.Cancelar }}</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block JS %}
    <script src="{{ url_for('static', filename='js/subir_archivo.js') }}"></script>
{% endblock %}
