{% extends "proyectos/base-proyecto.html" %}

{% block title %} {{ idioma.Editar_Proyecto }} {% endblock %}

{% block customCSS %}   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-project.css') }}">
{% endblock %}

{% block editProyecto %}
    
    <!-- contenido de la pagina FORMULARIO-->
    <div id="form-project" class="container">
        <h1>{{ idioma.Editar_Proyecto }}</h1>
        <hr>
        <form action="/actualizar_proyecto" method="POST" enctype="multipart/form-data">
            <div class="formulario">
                <div class="form-column-1">
                    <input type="file" name="Imagen" id="Imagen" hidden accept="image/*" onchange="return validarExtImagen(this)">
                    <label for="Imagen" class="cursor-pointer" title="Haz clic para cambiar la imagen">
                        <div class="cont-img">
                            <button type="button" class="btn-trash" onclick="trashImage()"><i class='bx bxs-trash'></i></button>
                            <img onclick="cambiarFoto()" class="img-fluid" src="{% if proyecto.Imagen %}data:image/jpeg;base64,{{ proyecto.Imagen }}{% else %}{{ url_for('static', filename='images/default/upload_img1.png') }}{% endif %}" id="img" alt="avatar">
                        </div>
                        <div class="cont-opt">
                            <h5 id="text-subir-img">{{ idioma.Subir_Imagen }}</h5>
                        </div>
                    </label>

                </div>
                <div class="form-column-2">
                    <div class="label-input-container">
                        <label for="NombreProyecto">{{ idioma.Titulo }}</label>
                        <input class="box" type="text" name="NombreProyecto" autocomplete="off" required value="{{ proyecto.NombreProyecto }}">
                    </div>
                    <div class="label-input-container">
                        <label for="DescripcionProyecto">{{ idioma.Descripción }}</label>
                        <textarea class="box" name="DescripcionProyecto" id="DescripcionProyecto" cols="30" rows="2" required>{{ proyecto.DescripcionProyecto }}</textarea>
                    </div>
                    <input hidden class="box" type="date" name="Fecha" autocomplete="off" required value="{{ proyecto.Fecha }}" readonly>
                    <!-- el campo del usuario sea de solo lectura y agrega un campo oculto para enviar el ID del usuario. -->
                    <input hidden name="IDUsuario" value="{{ proyecto.IDUsuario }}">
                    <!-- Incluir el ID del proyecto como campo oculto -->
                    <input hidden name="ID" value="{{ proyecto.ID }}">
                </div>
            </div>
            <!-- En el template editar_proyecto.html -->
            <h5>{{ idioma.Archivos }}</h5>
            <div class="container-upload">
                <input type="file" class="" id="file" hidden name="Archivo" onchange="return validarExt()" multiple>
                <label for="file" class="uploadlabel">
                    <span>
                        <img src="{{ url_for('static', filename='images/default/addthis_3.png') }}" alt="">
                    </span>
                    <p>{{ idioma.Agregar }}</p>
                </label>
                <br>
                <div id="filewrapper">
                    <h5 class="uploaded">{{ idioma.Documentos_Cargados }}</h5>
                    {% for archivo in proyecto.Archivos %}
                        <div class="showfilebox archivo-item">
                            <div class="left">
                                <span class="filetype">{{ archivo.split('.')[-1] }}</span>
                                <h3>{{ archivo }}</h3>
                            </div>
                            <div class="right">
                                <span class="eliminar-archivo" data-archivo="{{ archivo }}">&#215;</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <hr>
            <div class="btn-container">
                <button type="submit" class="cont-btn">{{ idioma.Aceptar }}</button>
                <a href="{{ url_for('mis_Proyectos') }}" class="cont-btn" onclick="return confirm('¿Estás seguro de cancelar?')">{{ idioma.Cancelar }}</a>
            </div>
        </form>
    </div>
    {% endblock %}

{% block JS %}
    <script src="{{ url_for('static', filename='js/subir_archivo.js') }}"></script>
{% endblock %}
