{% extends "proyectos/base-proyecto.html" %}
{% block filters %}
<div class="row filter">

    <div class="filter-type">
        <div class="select-cont">
            <button class="select-bt">
                <span class="select-he">Español</span>
                <i class='bx bx-caret-down'></i>
            </button>
            <ul class="select-op" style="display: none;">
                <li class="opcion"><a href="">Español</a></li>
                <li class="opcion"><a href="">Inglés</a></li>
                <li class="opcion"><a href="">Francés</a></li>
                <li class="opcion"><a href="">Italiano</a></li>
                <li class="opcion"><a href="">Portugués</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block lista %}
{% for proyecto in proyectos %}

<div class="row card">
    <div class="card-point">
        <div class="ol po-star">
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <p class="po-digit">/5</p>
    </div>
    <div class="row card-content">
        <div class="three columns">
            <div class="cont-img">
                {% if proyecto.Imagen %}
                <img class="modal_foto" src="data:image/jpeg;base64,{{ proyecto.Imagen }}"
                    alt="imagen {{ proyecto.NombreProyecto }}">
                {% else %}
                <img class="modal_foto" src="{{ url_for('static', filename='images/default/nonimage.svg') }}"
                    alt="imagen {{ proyecto.NombreProyecto }}">
                {% endif %}
            </div>
        </div>
        <div class="nine columns">
            <div class="cont-text">
                <div class="cont-title">
                    <h5>{{ proyecto.NombreProyecto }}</h5>
                </div>
                <div class="cont-desc">
                    <p>{{ proyecto.DescripcionProyecto }}</p>
                </div>
            </div>
            <div class="cont-button">
                <i>{{ proyecto.NombreUsuario }}</i>
                <button class="cont-btn" id="abrir_modal" data-bs-toggle="modal"
                    data-bs-target="#modal{{proyecto.ID}}">{{
                    idioma.Visualizar }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- modal  -->
<section class="modal modal-custom" id="modal{{proyecto.ID}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal_container shadow-lg">
        <!-- apartado de la infomación -->
        <div class="modal_apartado_info">
            <div class="row">
                <div class="modal_conten_foto col">
                    {% if proyecto.Imagen %}
                    <img class="modal_foto" src="data:image/jpeg;base64,{{ proyecto.Imagen }}"
                        alt="imagen {{ proyecto.NombreProyecto }}">
                    {% else %}
                    <img class="modal_foto" src="{{ url_for('static', filename='images/default/nonimage.svg') }}"
                        alt="imagen {{ proyecto.NombreProyecto }}">
                    {% endif %}
                </div>
                <div class="col">
                    <h2>{{ proyecto.NombreProyecto }}</h2>
                    <h6 class="h6modal">
                        <span>{{ idioma.Autor }}:</span>
                        {{ proyecto.NombreUsuario }}
                    </h6>
                    <h5>
                        <span>{{ idioma.Fecha_creación }}:</span>
                        {{ proyecto.Fecha }}
                    </h5>
                </div>
            </div>
            <div class="modal_descripcion">
                <div class="row">
                    <div class="col">
                        <h4>{{ idioma.Puntuación }}:</h4>
                    </div>
                    <div class="col">
                        {% set calificacion_proyecto = calificacion | selectattr("IDProyecto", "equalto", proyecto.ID) |
                        selectattr("IDUsuario", "equalto", idUsuariologin) | list %}
                        {% if calificacion_proyecto %}
                        {% for c in calificacion_proyecto %}
                        <form id="calificacion{{ proyecto.ID }}" action="/re_calificar/{{ proyecto.ID }}/{{ c.ID }}"
                            method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <p class="clasificacion">
                                <input class="input1" id="radio1{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="5" {% if c.Calificacion==5 %} checked {%
                                    endif %}>
                                <label class="label1" for="radio1{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio2{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="4" {% if c.Calificacion==4 %} checked {%
                                    endif %}>
                                <label class="label1" for="radio2{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio3{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="3" {% if c.Calificacion==3 %} checked {%
                                    endif %}>
                                <label class="label1" for="radio3{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio4{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="2" {% if c.Calificacion==2 %} checked {%
                                    endif %}>
                                <label class="label1" for="radio4{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio5{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="1" {% if c.Calificacion==1 %} checked {%
                                    endif %}>
                                <label class="label1" for="radio5{{ proyecto.ID }}">★</label>
                            </p>
                            <input type="hidden" id="calificar_proyecto{{ proyecto.ID }}" name="calificar_proyecto">
                        </form>
                        {% endfor %}
                        {% else %}
                        <form id="calificacion{{ proyecto.ID }}" action="/calificar/{{ proyecto.ID }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <p class="clasificacion">
                                <input class="input1" id="radio1{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="5">
                                <label class="label1" for="radio1{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio2{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="4">
                                <label class="label1" for="radio2{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio3{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="3">
                                <label class="label1" for="radio3{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio4{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="2">
                                <label class="label1" for="radio4{{ proyecto.ID }}">★</label>
                                <input class="input1" id="radio5{{ proyecto.ID }}" type="radio"
                                    name="estrellas{{ proyecto.ID }}" value="1">
                                <label class="label1" for="radio5{{ proyecto.ID }}">★</label>
                            </p>
                            <input class="input1" type="hidden" id="calificar_proyecto{{ proyecto.ID }}"
                                name="calificar_proyecto">
                        </form>
                        {% endif %}
                    </div>
                </div>
                <b>{{ idioma.Descripción }}:</b>
                <p>{{ proyecto.DescripcionProyecto }}</p>
                <b>{{ idioma.Archivos }}</b>
                <div>
                    ____archivos___<br>
                    {% for archivo in proyecto.Archivos %}
                        <a href="{{ url_for('mostrar_archivo', nombre_usuario=proyecto.NombreUsuario, nombre_proyecto=proyecto.NombreProyecto, nombre_archivo=archivo) }}" class="btn btn-primary" target="_blank">{{ archivo }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- apartado de comentarios -->
        <div class="modal_apartado_coment">
            {% for comentario in comentarios|sort(attribute='ID') %}
            {% if proyecto.ID == comentario.IDProyecto %}
            <div class="row">
                {% if comentario.Foto_perfil %}
                <div class="col-2"><img class="foto_comentario centrar"
                        src="data:image/jpeg;base64,{{ comentario.Foto_perfil }}" alt="{{ comentario.NombreUsuario}}">
                </div>
                {% else %}
                <div class="col-2"><img class="foto_comentario centrar"
                        src="{{ url_for('static', filename='images/perfil/default.jpg') }}" alt="Sin foto de perfil">
                </div>
                {% endif %}
                <div class="modal_coment col">
                    <div class="row">
                        <div class="col"><b>{{ comentario.NombreUsuario}}</b></div>
                        <div class="col" style="text-align: end;"><b>{{ comentario.Fecha }}</b></div>
                    </div>
                    <p>{{ comentario.Comentario}}.</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="agregar_comentario row">
            <form action="/comentar/{{proyecto.ID}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <textarea class="redactar_comentario col textarea" name="redactar_comentario" cols="40" rows="2"
                    placeholder="{{ idioma.Escribe_comentario }}"></textarea>
                <button type="submit" class="enviar_comentario col">{{ idioma.Comentar }}</button>
            </form>
        </div>
        <a href="#" class="modal_cerrar">{{ idioma.Cerrar }}</a>
    </div>
</section>

{% endfor %}
{% endblock %}




{% block JS %}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}