<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Configuraciones básicas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Description  se muestra a menudo en los resultados de los motores de búsqueda como resumen de la pagina web -->
    <meta name="description" content="Gestión de proyectos, con sistema de puntuación y comentarios.">
    <meta name="author" content="Grupo Flask">

    <title>{% block title %}{% endblock %}</title>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS Skeleton
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

    <!-- CSS Icons 
    -------------------------------------------------- -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Icono de la pagina
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='svg/logo pagina/logo.svg')}}">

    <!-- CSS propio y personalizado
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


    {% block customCSS %}
    {% endblock %}

    <!-- JS propio y personalizado
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</head>

<body>

    {% block header %}
    <header class="header">

        <!-- Acá preguntar si que está autenticado, ponerle el justify content space around-->
        <div class="row">
            <div class="five columns">
                <div class="logo" id="logoNav">
                    <img src="{{ url_for('static', filename='svg/logo pagina/logo.svg')}}" alt="Logo de Empresa">
                    <p>DOCSPINE</p>
                </div>
            </div>

            {% if current_user.is_authenticated %}
            <div class="seven columns">

                <input type="checkbox" id="check-menu">
                <label for="check-menu" class="menu">
                    <i class='bx bx-menu' id="menu-open"></i>
                    <i class='bx bx-x' id="menu-close"></i>
                </label>

                <nav class="navbar">
                    <a href="{{ url_for('all_Proyectos' ) }}" id="bt-pro" style="--i:0">{{idioma.Proyectos }}</a>
                    <a href="{{ url_for('mis_Proyectos' ) }}" id="bt-mpro" style="--i:1">{{idioma.Mis_proyectos }}</a>
                    <a href="{{ url_for('logout') }}" class="close" style="--i:2"><i class='bx bx-log-in'></i>Cerrar
                        sesión</a>

                </nav>

                <div class="perfil">
                    <img id="perfil" src="{{ url_for('static', filename=current_user.get_image() )}}"
                        alt="Perfil de usuario">
                </div>

                <div class="wrapper">
                    <div class="w-header">
                        <span>¡{{idioma.Bienvenido }}, <strong>{{ current_user.fullname }}</strong>!</span>
                    </div>
                    <div class="w-content">

                        <div class="wrapper-items">

                            <div class="item"><a href="{{ url_for('all_Proyectos' ) }}">{{idioma.Página_principal }}</a></div>
                            <div class="item"><a href="{{ url_for('mis_Proyectos' ) }}">{{idioma.Mis_proyectos }}</a></div>

                            <div class="item item-idioma">
                                <form action="/idioma" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <select class="form-control" name="idioma" onchange="this.form.submit()">

                                        {% if current_user.is_authenticated %}
                                        <option id="id_seleccionado" disabled selected value="español">{{ idioma.Idioma_Selec }}</option>
                                        <option value="1" {% if idioma.idioma_actual == 'Español' %} selected {% endif %}>Español</option>
                                        <option value="2" {% if idioma.idioma_actual == 'Ingles' %} selected {% endif %}>Inglés</option>
                                        <option value="3" {% if idioma.idioma_actual == 'Frances' %} selected {% endif %}>Francés</option>
                                        <option value="4" {% if idioma.idioma_actual == 'Italiano' %} selected {% endif %}>Italiano</option>
                                        <option value="5" {% if idioma.idioma_actual == 'Portugués' %} selected {% endif %}>Portugués</option>
                                        <option value="6" {% if idioma.idioma_actual == 'Alemán' %} selected {% endif %}>Alemán</option>
                                        <option value="7" {% if idioma.idioma_actual == 'Polaco' %} selected {% endif %}>Polaco</option>
                                        <option value="8" {% if idioma.idioma_actual == 'Ruso' %} selected {% endif %}>Ruso</option>
                                        {% else %}
                                        <option id="id_seleccionado" disabled selected value="español">{{ idioma.Idioma_Selec }}</option>
                                        <option value="1">Español</option>
                                        <option value="2">Inglés</option>
                                        <option value="3">Francés</option>
                                        <option value="4">Italiano</option>
                                        <option value="5">Portugués</option>
                                        <option value="6">Alemán</option>
                                        <option value="7">Polaco</option>
                                        <option value="8">Ruso</option>
                                        {% endif %}
                                    </select>
                                </form>
                            </div>
                        </div>

                        <a href="{{ url_for('logout') }}" id="logout">{{idioma.Cerrar_sesión }}</a>

                    </div>
                </div>

            </div>
            {% else %}
            <div class="containerl">
                <div class="lenguajeS">
                    <select id="langselect" onchange=updateSelectedLanguage() onfocus=showFullNames()> 
                        <option value="español" data-fullname="Español">ES</option>
                        <option value="english" data-fullname="English">EN</option>
                        <option value="frances" data-fullname="Francés">FR</option>
                        <option value="italiano" data-fullname="Italiano">IT</option>
                        <option value="portugues" data-fullname="Portugués">PO</option>
                        <option value="aleman" data-fullname="Alemán">AL</option>
                        <option value="polaco" data-fullname="Polaco">PO</option>
                        <option value="ruso" data-fullname="Ruso">PO</option>
                    </select>
                </div>
            </div>
            {% endif %} 
        </div>
    </header>

    {% endblock %}

    <!-- Bloque del body
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block body %}

    {% endblock %}

    <!-- Modal
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="modal-back">
        <div class="modal-response">
            <div class="modal-header">
                <p>Esto es el título</p>
                <i class='bx bx-x'></i>
            </div>
            <div class="modal-body">
                <div class="icon"><i class=''></i></div>
                <p class="text">Esto es el párrafo</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

    {% block footer %}
    <footer>

        <div class="container-footer">
            <div class="row u-full-width">
                <div class="six columns">
                    <h3 class="web">Nuestro sitio web</h3>
                    <ul class="list">
                        <li>Douglas Arguello</li>
                        <li>Brigner Carriel</li>
                        <li>Santillán Daniel</li>
                        <li>Josué Zambrano</li>
                    </ul>
                </div>

                <div class="six columns">
                    <h3 class="info">Información:</h3>
                    <ul class="list">
                        <li>UNEMI - Facultad Ciencias de la Ingeniería</li>
                        <li>Ingeniería en Software 8A1</li>
                        <li>Desarrollo Web - Proyecto DocsPine</li>
                        <li>Desarrollo fuera de producción</li>
                    </ul>

                    <p class="copyright">Company ACDAZCorp © 2024</p>
                </div>
            </div>

        </div>

    </footer>

    {% endblock %}

    {% block JS %}
    {% endblock %}



    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/active-button-header.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/idioma.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login-lenguaje.js') }}"></script>
</body>

</html>